.container {
  margin: auto;
  max-width: 65%;
}

hr {
  border: 1px gray solid;
}

.s_cart {
  /* float:left; */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
}
.shipping-checkout {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  margin: 0;
  width: 400px;

}

legend {
  font-size: 1.3em;
}

input {
  font-size: 12px;
  padding: 4px;
  border: 1px grey solid;
  margin-right: 5px;
  margin-bottom: 5px;
}

#s-address {
    width: 100%;
}
#s-first-name, #b-first-name, #b-state, #b-postal {
  width: 30%;
  display: inline-block;
}

#s-last-name, #b-last-name, #b-city {
  width: 60%;
  display: inline-block;
}

#s-area-code, #b-area-code, #p-sec-code {
  width: 25%;
  display: inline-block;
}

#s-m-number, #b-m-number, #p-cnumber {
  width: 65%;
  display: inline-block;
}

#s-address, #s-sec-address, #b-email, #b-address, #b-sec-address {
  width: 95%;
}

#s-postal, #s-state{
  width: 50%
  display: inline-block;
}

#address-2 {
  max-width: 90%;
}

#p-card, #p-paypal {
  display: block;
}
#p-submit {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #00a3b0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#p-submit:hover {
  background: #bbca47;
  text-decoration: none;
}

.addl_info {
  padding: 10px;
  width: 350px;
  float: right;
  border: 1px #7bcbcc dashed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: gray;
}
.addl_info h3 {
  color: #7bcbcc;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.p-summary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  float: right;
  /* margin-bottom: 50px; */
}

.p-summary p {
  text-align: right;
  margin: 0;
}

footer {
  height: 200px;
}
