/* ======= Base Styles ======== */

/* Main content */
.main {
    margin-top: 100px;
}

/* fonts */

h1 {
    /* DO NOT USE ALL CAPS */
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: #7c9e3f;
}

h2 {
    /* sub-header, quotes, standout words */
    /* DO NOT USE ALL CAPS */
    font-family: 'Cardo', serif;
    font-size: 25px;
    font-style: italic;
    color: #dbdfe0;
}

h3 {
    /* Callout type, additional sub-headers, tiny type, footer */
    font-family: 'Oswald', sans-serif;
    color: #00a3b0;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #8e8a87;
}
/* color classes */

.darkGrey {
    background-color: #8e8a87;
}

.skyBlue {
    background-color: #1bbbd3;
}

.oceanBlue {
    background-color: #00a3b0;
}

.greyBlue {
    background-color: #7bcbcc;
}

.avocadoLight {
    background-color: #bbca47;
}

.avocadoDark {
    background-color: #7c9e3f;
}

.lightGrey {
    background-color: #dbdfe0;
}


/* ======= The navigation bar ======= */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    z-index: 9999;
    background-color: #8e8a87;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-radius: 0;
    margin-left: 0;
    padding: 0;
}

nav {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0 30px 0 0;
}

.navbar li {
    display:inline;
    /* vertical-align: middle; */
}

/* Links inside the navbar */
.navbar a,
.nav-option {
    color: #bbca47;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}


/* Change background on mouse-over */
.navbar a:hover,
#contact_us_link:hover{
    background: #bbca47;
    color: #8e8a87;
}

/* ==== carousel ===== */

#carouselExampleIndicators img {
    width: 100%;
    margin-left: 0;
    z-index: 9999;
}

.imgSmall {
    width: 150px;
}

/* ==== home ===== */

.mainH1 {
  position: absolute;
  color: #fff;
  bottom: 7%;
  right: 5%;
  z-index: 20;
  font-size: 120px;
  text-shadow: 0 1px 2px #000;
}

/* ==== Footer ====  */

.social {
    padding-top: 1em;
    padding-bottom: .6em;
    padding-left: 3em;
}

.social a {
    color: #00a3b0;
    font-size: 2em;
    padding: 3px;
}

.social a:hover {
    color: #7bcbcc;
    text-decoration: none;
}
/*end footer styles*/

/* ================ */
/* ==== home ===== */
/* ================ */

.mainH1 {
  position: absolute;
  color: #fff;
  bottom: 7%;
  right: 5%;
  z-index: 20;
  font-size: 120px;
  text-shadow: 0 1px 2px #000;
}

aside {
    text-align: center;
    padding: 3em;
    color: #8e8a87;
}

/* === article products === */

    .indxProducts {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
    }

    .indxProducts img {
        width: 33%;
        height: 33%;
    }

   .js {
        z-index: 10;
    }


/* === testimonials ===  */

    /* carousel */
    #quote-carousel
    {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    }

    /* Control buttons  */
    #quote-carousel .carousel-control
    {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
    }
    /* Previous button  */
    #quote-carousel .carousel-control.left
    {
    left: -30px;
    }
    /* Next button  */
    #quote-carousel .carousel-control.right
    {
    right: -30px !important;
    }
    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators
    {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
    }
    /* Changes the color of the indicators */
    #quote-carousel .carousel-indicators li
    {
    background: #c0c0c0;
    }
    #quote-carousel .carousel-indicators .active
    {
    background: #333333;
    }
    #quote-carousel img
    {
    width: 250px;
    height: 100px
    }
    /* End carousel */

    .item blockquote {
        border-left: none;
        margin: 0 2em 0 2em;
    }

    .item h2 {
        text-align: right;
        margin: 0;
    }

    .item blockquote img {
        margin-bottom: 10px;
    }

    .item blockquote p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        margin-right: 10px;
    }


    /**
    MEDIA QUERIES
    */

    /* Small devices (tablets, 768px and up) */
    /* @media (min-width: 768px) {
        #quote-carousel
        {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        }

    } */

    /* Small devices (tablets, up to 768px)
    @media (max-width: 768px) {

        /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

        /* #quote-carousel .carousel-indicators {
            bottom: -20px !important;
        }
        #quote-carousel .carousel-indicators li {
            display: inline-block;
            margin: 0px 5px;
            width: 15px;
            height: 15px;
        }
        #quote-carousel .carousel-indicators li.active {
            margin: 0px 5px;
            width: 20px;
            height: 20px;
        } */ */
    }
