/* The navigation bar */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    z-index: 9999;
    background-color: #333;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid lightgray;
    margin-left: -8px; /* not sure why it needs this - woof */
    padding: 0;
}

nav {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.navbar li {
    display:inline;
}

/* Links inside the navbar */
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px;
}
