/* The navigation bar */
.navbar {
    position: fixed;
    background-color: #8e8a87;
    top: 0;
    width: 100%;
    margin-left: -10px;
}
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .navbar a:link, .navbar a:visited {
            color: #bbca47;
            text-decoration: none;
        }
        .navbar ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 0px;
        }
        .navbar .logo {
            margin-left: 40px;
        }
        .navbar ul li {
            margin-left: 10px;
            margin-right: 10px;
        }
        .navbar a {
            margin-right: 90px;
        }

/* The Products Page */
.main-product:link, .main-product:visited {
    text-decoration: none;
    color: black;
    overflow: hidden;
}
    .main-product-div {
        display: flex;
        flex-direction: column;
        background-color: #dbdfe0;
        align-items: center;
        margin-top: 100px;
        margin-left: -10px;
        margin-right: -10px;
    }
        .main-product-div h1 {
            margin-bottom: 0px; 
        }
        .main-product-div h3 {
            margin-top: 10px;
        }
        .main-product img {
            align-self: center;
        }