/* The navigation bar */
.navbar {
    position: fixed;
    background-color: #8e8a87;
    top: 0;
    width: 100%;
    margin-left: -8px;
    z-index: 9999;
}
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .navbar a:link, .navbar a:visited {
            color: #bbca47;
            text-decoration: none;
        }
        .navbar ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 0px;
        }
        .navbar .logo {
            margin-left: 40px;
        }
        .navbar ul li {
            margin-left: 10px;
            margin-right: 10px;
        }
        .navbar a {
            margin-right: 40px;
            padding: 14px 16px;
        }
        .navbar a:hover {
            background: #bbca47;
            color: #8e8a87;
        }

        
/*=== The Products Page ===*/
/* .main-product:link, .main-product:visited {
    text-decoration: none;
    color: black;
    overflow: hidden;
}
    .main-product-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-left: -5px;
        margin-right: -5px;
    }
        .main-product-div h1 {
            margin-bottom: 0px; 
        }
        .main-product-div h3 {
            margin-top: 10px;
        }
        .main-product img {
            align-self: center;
            flex-grow: 1;
            width: 500px;
            height: auto;
        } */
.main-product:link, .main-product:visited {
    text-decoration: none;
    color: black;
}
    .main-product {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
        .main-product-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .main-product-div h1 {
                margin-bottom: 0px; 
            }
            .main-product-div h3 {
                margin-top: 10px;
            }
            .main-product img {
                width: 100%;
                height: auto;
            }

/* === Products 1 through 6 === */
#top-cards {
    display: flex;
}
    .product-1 img {
        position: relative;
        width: 100%;
        height: auto;
    }
        .product-1>.product-name {
            position: absolute;
            top: 935.125px;
        }
    .product-2 img {
        width: 100%;
        height: auto;
    }
    .product-3 img {
        width: 100%;
        height: auto;
    }