
#carouselExampleIndicators img {
    width: 100%;
}

/* === main info === */
.mainInfo {
    margin: 0 20em 0 20em;
}

.mainInfo h1 {
    text-align: left;
}

.mainInfo p {
    text-align: center;
    margin: 0 5em 2em 5em;
}

/*  === aside ===  */

aside {
    display: flex;
    display: -webkit-flex;
}

aside > div{
    flex-direction: row;
    width: 50%;
    align-content: center;
    padding: 2% 5% 2% 5%;
}


.featDetails h3 {
    padding: .25em 0 .25em 1em;
    display: inline-block;
}

.metrics {
    border: 1px solid #dbdfe0;
}

.metrics h2 {
    margin-top: 0;
}

.metrics p {
    padding-bottom: 1em;
}

/* === shopping cart button ==== */

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #00a3b0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 200px;
}

.btn:hover {
  background: #7bcbcc;
  text-decoration: none;
  color: #fff;
}

/* === Find in Store Button === */

.btnF {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #8e8a87;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid #dbdfe0 2px;
  text-decoration: none;
  width: 200px;
}

.btnF:hover {
  background: #dbdfe0;
  text-decoration: none;
}