body {
   margin: 0;
   position:absolute;
   top:0px;
   left:0px;
   right:0px;
   bottom:0px;
}

.cover-photo{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.body-wrapper{
    position:relative;
    height:100%;
    width:100%;
    /* background: #40e0d0;
    background: linear-gradient(to bottom, #40e0d0, #ff8c00, #ff0080); */
}
.nav-container {
    background:#ffffff;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


}


.nav-option{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:50px;
    padding: 0px 10px 0px 10px;
    flex-grow:1;
    
   
}


.nav-option a {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}


.cover-photo-container{
width: 100%;
height: 400px;

}

.form-model{
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


}
.input-form{
flex-direction: column;
width: 80%;
align-items: center;
padding-left: 15%;





}
 .box-style{

    display: block;
    width: 80%;
    height: 50px;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 10px;
    
 }

 